body {
    text-align: center;
    margin-top: 6em;
    font-family: sans-serif;
    font-size: 30px;
}
h1 {
    font-weight: 100;
    color: blue;
    display: inline-block;
}
.texto-1 {
    animation: Rebote .9s alternate;
    /* animation-iteration-count: infinite; */
}
@keyframes Rebote {
    0% { transform: translateX(-40%);}
    33% {transform: translateX(0%)}
    66% {transform: translateX(-15%)}
    100% {transform: translateX(0%);}
}

.texto-3 {
    animation: Rebote2 .9s alternate;
    /* animation-iteration-count: infinite; */
}
@keyframes Rebote2 {
    0% { transform: translateX(90%);}
    33% {transform: translateX(-10%)}
    66% {transform: translateX(65%)}
    100% {transform: translateX(-10%);}
}
